<h2>If you always catch the good threads from AskReddit too late, sign up. You can then add your keywords and I'll send you an email everytime they show up on an AskReddit thread.</h2>

<h3>You will get this in your inbox:</h3>

<%= image_tag 'askredditalertpreview.png' %>

<h3>Reddit does not permit PMs from machines, so I need your email to send you alerts.</h3>

<h4>To prevent trolls, if you haven't validated your email, won't let you in. <span style="color:red">This website is unofficial, it is in no way associated with AskReddit, the moderators of the subreddit or anyone else except for the redditor who developed it.</span></h4>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
